In [6]:
import pandas as pd
import sqlite3
import numpy as np

In [7]:
# con = sqlite3.connect('C:\\Users\Batuk Patel\Documents\DataScience_NorthWestern\git_repo\Building_Utilization\BuildingEntryData.db')

In [8]:
df =  pd.read_csv("de_normalized_data.csv")

In [9]:
df.head(15)

,company_id,company,CardNumber,DirectionOfEntry,ServerDateTime,DoorName
0,111102,ABC121,20081,IN,1/8/2019 1:14,20th Floor NETPOP #1
1,111102,ABC121,20081,IN,1/8/2019 1:15,Frieght Elevator S1 Cab
2,111102,ABC121,20081,IN,1/8/2019 1:15,Frieght Elevator S1 Cab
3,111102,ABC121,20081,IN,1/8/2019 1:17,Frieght Elevator S1 Cab
4,111102,ABC121,20081,IN,1/8/2019 1:21,GND Floor Garage Entry
5,111102,ABC121,20081,IN,1/8/2019 1:25,1st Floor Lobby to Dock West
6,111102,ABC121,20081,IN,1/8/2019 1:31,Freight Elevator S2 Cab
7,111102,ABC121,20081,IN,1/8/2019 1:33,Freight Elevator S2 Cab
8,111102,ABC121,20081,IN,1/8/2019 1:34,20th Floor Staff Engineers Rm
9,111102,ABC121,20081,IN,1/8/2019 1:49,20th Floor Staff Engineers Rm
10,111102,ABC121,20081,IN,1/8/2019 1:53,20th Floor Staff Engineers Rm
11,111102,ABC121,20081,IN,1/8/2019 1:57,20th Floor Staff Engineers Rm
12,111102,ABC121,20081,IN,1/8/2019 2:01,20th Floor Staff Engineers Rm
13,111102,ABC121,20081,IN,1/8/2019 2:03,Frieght Elevator S1 Cab
14,111102,ABC121,20081,IN,1/8/2019 2:13,Frieght Elevator S1 Cab

In [12]:
# df = bulding_data.dropna(how='all')
df['ServerDateTime'] = pd.to_datetime(df['ServerDateTime'])
df['Date'] = df['ServerDateTime'].dt.strftime('%d/%m/%Y')
# df['Time'] = df['MessageDateTime'].dt.strftime('%H:%M:%S')
df['Time'] = df['ServerDateTime'].dt.strftime('%H')

In [13]:
data = df
data.head()

data_filter = df[df.CardNumber > 0]
data_filter.head()

,company_id,company,CardNumber,DirectionOfEntry,ServerDateTime,DoorName,Date,Time
0,111102,ABC121,20081,IN,2019-01-08 01:14:00,20th Floor NETPOP #1,08/01/2019,01
1,111102,ABC121,20081,IN,2019-01-08 01:15:00,Frieght Elevator S1 Cab,08/01/2019,01
2,111102,ABC121,20081,IN,2019-01-08 01:15:00,Frieght Elevator S1 Cab,08/01/2019,01
3,111102,ABC121,20081,IN,2019-01-08 01:17:00,Frieght Elevator S1 Cab,08/01/2019,01
4,111102,ABC121,20081,IN,2019-01-08 01:21:00,GND Floor Garage Entry,08/01/2019,01

In [ ]:
X = data_filter["CardNumber"].values.reshape(-1, 1)
print(X.shape)

In [ ]:
y = data_filter["Time"].values.reshape(-1, 1)
print(y.shape)

In [ ]:
# # Step 0: Reformat data
# bd = data.values
# X = bd[:, 0]
# y = bd[:, 6]

In [ ]:
print(X.shape)

In [ ]:
y

In [ ]:
print(y.shape)

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y)
encoded_y = label_encoder.transform(y)

In [ ]:
for label, original_class in zip(encoded_y, y):
    print('Original Class: ' + str(original_class))
    print('Encoded Label: ' + str(label))
    print('-' * 12)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [ ]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
train_scores = []
test_scores = []
for k in range(1, 20, 2):
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train, y_train)
    train_score = knn.score(X_train, y_train)
    test_score = knn.score(X_test, y_test)
    train_scores.append(train_score)
    test_scores.append(test_score)
    print(f"k: {k}, Train/Test Score: {train_score:.3f}/{test_score:.3f}")
    
    
plt.plot(range(1, 20, 2), train_scores, marker='o')
plt.plot(range(1, 20, 2), test_scores, marker="x")
plt.xlabel("k neighbors")
plt.ylabel("Testing accuracy Score")
plt.show()